[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask-oidc = "*"
Flask-RESTful = "*"
apispec = "*"
marshmallow = "*"
pymongo = "*"


[dev-packages]

pylint = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"